.widgetSm {
	flex: 1;
	padding: 20px;
	margin: 20px;
	box-shadow: 2px 8px 16px 3px rgba(0, 0, 0, 0.17);
	-webkit-box-shadow: 2px 8px 16px 3px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 2px 8px 16px 3px rgba(0, 0, 0, 0.17);
	cursor: pointer;
	
}
.widgetSmTitle {
	font-size: 32px;
	font-weight: 600;
}
.widgetSmimg {
	font: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
   
}
.widgetSmuser{
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.widgetsmlist {
	margin: 0; 
    padding: 0;
    list-style: none;
}
.widgetSmItem{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 5px;
   
}
.widgetSmButton {
	border: none;
	border-radius: 30%;
	size: 7px 14px 14px 7px;
	color: rgb(122, 161, 96);
    background-color: palegreen;
}
